name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: 'SSH and deploy app'
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        password: ${{ secrets.SSH_PASSWORD }}
        script: |
          cd ~/abdullatif/AbdulLatif-DBS
          git pull origin main
          npm install
          npm run migrate up
          /home/dicoding/.npm/bin/pm2 restart abdullatif-forumapi
